<!-- This is our main layout that will contain repeated elements like our <head> and <footer>. Now we won't have to repeat that markup on every single page we create, making maintenance of our site much easier. -->
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title> <!--liquid tags-->
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
			<nav>
					<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/cv">CV</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/projects">Projects</a></li>
							<li><a style="pointer-events: none; cursor: default; color:white;" href="/telegrambot"> Hi There :)</a></li>
							<li><a style="pointer-events: none; cursor: default; color:white;" href="/telegrambottest"> Wanna know the secret? =p</a></li>
					</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
					<ul>
							<li>Email: <a href="mailto:weijian19391@gmail.com">weijian19391@gmail.com</a></li>
							<li>Github: <a href="https://github.com/weijian19391">github.com/weijian19391</a></li>

				</ul>
			</footer>
		</body>
	</html>